body {
    background: #5cdb95;
    margin: 0px;
}

nav {
    background-color: #FFE77AFF;
    margin: 0px;
    padding: 0%;
    width: auto;
    height: 50px;
    text-align: center;
}

nav h2 {
    color: black;
    font-family: monospace;
    display: inline-block;
}

section .text {
    color: black;
    font-family: monospace;
    text-align: justify;
    margin: 10%; 
    font-size: 18px;
}

.one button {
    width: 30%;
   height: 60%;
   margin-top: 5%;
    margin-left: 30%;

    align-items: center;
    transition-duration: 0.4s;
  

    top: 50%;
    bottom: 50%;

}

.one button:hover {
    background-color: #5cdb95;
    color: white;
}